<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectProgra2020 </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>

  


      

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ALRRONIJE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="Reporte">Reporte de ventas</a>
                            </li>    
                        
                        @if(Context.User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="producto">Catálogo</a>
                            </li>
                                                 
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Cliente" asp-action="carrito">Carrito de compras</a>
                            </li>
                        }else{
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="ZapatosH" asp-action="IndexH">Catálogo</a>
                            </li>    
                        }

                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
</body>
<br><br><br><br><br><br>

    <footer style="background-color: black;" class="border-top footer text-muted">

          <div>
            <div class="container"> 
            <div class="row">
              <div class="col-md-4">
               
               <h6>Contacto</h6>
                <h8>Entel:945506377 </h8>
                <h8>Claro:945506333 </h8>
                <h8>Movistar:945656377</h8>

              </div>
              <div class="col-md-4">
                

              </div>
              <div class="col-md-4">
                <img src="https://assets.stickpng.com/images/58e91965eb97430e819064f5.png" width="50" height="50">
                 <img src="https://i.pinimg.com/originals/4a/d3/5a/4ad35ab0be4073f392ca251fe73598ae.png" width="50" height="50">

              </div>


            </div>
                    <div class="container">
            &copy; 2020 - ProjectProgra2020 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            
        </div>

          </div>



        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</html>
