@model IEnumerable<projectProgra2020.Models.Productom>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <nav class="nav nav-pills nav-justified; nav justify-content-center">
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosH" asp-action="IndexH" >Hombres</a>
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosM" asp-action="IndexM" >Mujeres</a>
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosN" asp-action="IndexN" >Niños</a>


   
  
</nav>

<H1>Lista de productos</H1>


    <div class="container">
        <div class="row">

        @foreach (var productos in Model)
        {


        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="@productos.imagen" class="card-img-top" width="150"px height="150"px>
              <div class="card-body">
                <h5 class="card-title">@productos.nombre</h5>

                <label>Descripcion: @productos.descripcion</label><br>
                <label>Precio: S/ @productos.precio</label><br>
                <button class="btn btn-dark">Agregar al carrito</button>
                  <button class="btn btn-dark">Comprar</button>
                                
              </div>
            </div>

        </div>

 


        }
        </div>
        
    </div>





</body>