@model IEnumerable<ProjectProgra2020.Models.producto>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<H1>Lista de productos</H1>
<h2>Registrate para comprar nuestros productos</h2>

    <div class="container">
        <div class="row">

        @foreach (var Producto in Model)
        {


        <div class="col-sm">
            <div class="card" style="width: 18rem;">
              <img src="@Producto.imagen" class="card-img-top" width="150"px height="150"px>
              <div class="card-body">
                <h5 class="card-title">@Producto.nombre</h5>

                <label>Descripcion: @Producto.descripcion</label><br>
                <label>Precio: S/ @Producto.precio</label><br>
                                
              </div>
            </div>

        </div>

 


        }
        </div>
        
    </div>












</body>