@model IEnumerable<projectProgra2020.Models.Registro>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

  <nav class="nav nav-pills nav-justified; nav justify-content-center">
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosH" asp-action="IndexH" >Hombres</a>
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosM" asp-action="IndexM" >Mujeres</a>
  <a class="nav-item nav-link" asp-area="" asp-controller="ZapatosN" asp-action="IndexN" >Niños</a>


   
  
</nav>
</body>